.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #39cca0;
}

.header__title {
  font-size: 24px;
}
.header__nav {
  display: none;
}
.header__nav-links {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}

.header__nav-link {
  color: #000000;
  text-decoration: none;
}
.header__nav-link:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #5154db);
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .header__nav {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .header__title {
    font-size: 28px;
    margin: 5% 0 5%;
  }

  .header__nav-links {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    font-size: 16px;
    margin: 5% 0 5%;
  }
  .header__nav {
    width: 55%;
  }
}
