.navigation {
  position: relative;
  width: 80%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  margin-left: 13%;
  margin-bottom: 2%;
}

.navigation-btn {
  border: 2px solid #5154db;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-btn:not(:last-child) {
  margin-right: 40px;
}

.navigation-btn:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #5154db);
  background-color: #5154db;
  cursor: pointer;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
