.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.solution__title {
  text-align: center;
}
.solution__paragraph {
  text-align: center;
}
.solution__graphic {
  width: 300px;
}

@media screen and (min-width: 800px) {
  .solution {
    flex-direction: row;
    justify-content: space-around;
  }
  .solution__graphic {
    width: 500px;
  }
}
